{% extends "home.html" %}
{% load humanize comptes %}

{% block content %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Créancier</th>
                <th>Description</th>
                <th>Moment</th>
                <th>Débiteurs</th>
                <th style="text-align: center;">Nombre de parts</th>
                <th style="text-align: right;">Valeur d’une part</th>
                <th style="text-align: right;">Montant</th>
                <th style="text-align: center;">Valide</th>
                <th style="text-align: center;">Vérifiée</th>
                <th>Ajouter dette</th>
                <th>Validation</th>
            </tr>
        </thead>
        <tbody>{% for creance in object_list %}
            <tr>
                <td>{{ creance.creancier }}</td>
                <td>{{ creance.description }}</td>
                <td>{{ creance.moment|naturaltime }}</td>
                <td>{{ creance.debiteurs }}</td>
                <td style="text-align: center;">{{ creance.nombre_parts }}</td>
                <td class="euro">{{ creance.valeur_part|floatformat:2 }}</td>
                <td class="euro">{{ creance.montant|floatformat:2 }}</td>
                <td style="text-align: center;">{{ creance.valide|yesno:"✔,✘,?" }}</td>
                <td style="text-align: center;">{{ creance.checked|yesno:"✔,✘,?" }}</td>
                <td><a href="{% url 'dette_create_from_creance' creance.pk %}">Ajouter une dette</a></td>
                <td>{% valider request.user creance %}</td>
            </tr>
        {% endfor %}</tbody>
    </table>
    <a href="{% url 'creance_create' %}"><button class="btn btn-default">Ajouter une créance</button></a>
{% endblock %}
