{% extends "home.html" %}
{% load humanize comptes %}

{% block content %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Créance</th>
                <th>Débiteur</th>
                <th style="text-align: center;">Parts</th>
                <th style="text-align: right;">Valeur d’une part</th>
                <th style="text-align: right;">Montant</th>
                <th style="text-align: center;">Valide</th>
                <th style="text-align: center;">Vérifiée</th>
                <th>Validation</th>
            </tr>
        </thead>
        <tbody>{% for dette in object_list %}
            <tr>
                <td><a href="{{ dette.creance.get_absolute_url }}">{{ dette.creance }}</a></td>
                <td>{{ dette.debiteur }}</td>
                <td style="text-align: center;">{{ dette.parts }}</td>
                <td class="euro">{{ dette.creance.valeur_part|floatformat:2 }}</td>
                <td class="euro">{{ dette.valeur|floatformat:2 }}</td>
                <td style="text-align: center;">{{ dette.valide|yesno:"✔,✘,?" }}</td>
                <td style="text-align: center;">{{ dette.creance.checked|yesno:"✔,✘,?" }}</td>
                <td>{% valider request.user dette %}</td>
            </tr>
        {% endfor %}</tbody>
    </table>
    <a href="{% url 'dette_create' %}"><button class="btn btn-default">Ajouter une dette</button></a>
{% endblock %}
