{# TODO ce fichier ne sert à rien :) #}
{% comment %}
{% extends "home.html" %}

{% block content %}
    <dl>
        <dt>Créditeur</dt>
        <dd>{{ object.crediteur }}</dd>
        <dt>Crédité</dt>
        <dd>{{ object.credite }}</dd>
        <dt>Montant</dt>
        <dd class="euro">{{ object.montant }}</dd>
        <dt>moment<dt>
        <dd>{{ object.moment }}</dd>
        <dt>Valide pour le créditeur<dt>
        <dd>
            {% if remboursement.valide_crediteur %}Oui
            {% else %}Non{% if remboursement.crediteur == request.user %} – <a href="{% url 'remboursement_validate' object.pk %}">Valider</a>{% endif %}
            {% endif %}
        </dd>
        <dt>Valide pour le crédité<dt>
        <dd>
            {% if remboursement.valide_credite %}Oui
            {% else %}Non{% if remboursement.credite == request.user %} – <a href="{% url 'remboursement_validate' object.pk %}">Valider</a>{% endif %}
            {% endif %}
        </dd>
    </dl>
{% endblock %}
{% end comment %}
