{% extends "home.html" %}
{% load humanize comptes %}

{% block content %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Créditeur</th>
                <th style="text-align: right;">Montant</th>
                <th>Crédité</th>
                <th>Moment</th>
                <th style="text-align: center;">Valide pour le créditeur</th>
                <th style="text-align: center;">Valide pour le crédité</th>
                <th>Valider</th>
            </tr>
        </thead>
        <tbody>{% for remboursement in object_list %}
            <tr>
                <td>{{ remboursement.crediteur }}</td>
                <td class="euro">{{ remboursement.montant|floatformat:2 }}</td>
                <td>{{ remboursement.credite }}</td>
                <td>{{ remboursement.moment|naturaltime }}</td>
                <td style="text-align: center;">{{ remboursement.valide_crediteur|yesno:"✔,✘," }}</td>
                <td style="text-align: center;">{{ remboursement.valide_credite|yesno:"✔,✘," }}</td>
                <td>{% if request.user|peut_valider:remboursement %}
                    <a href="{% url 'remboursement_ok' remboursement.pk %}">Oui</a>
                    <a href="{% url 'remboursement_ko' remboursement.pk %}">Non</a>
                {% endif %}</td>
            </tr>
        {% endfor %}</tbody>
    </table>
    <a href="{% url 'remboursement_create' %}"><button class="btn btn-default">Ajouter un remboursement</button></a>
{% endblock %}
