{% load bootstrap3 %}
<html>
    <head>
        <title>Test Comptes</title>
        {% bootstrap_css %}
        {% bootstrap_javascript jquery=True %}
        <style>
            .euro { text-align: right; }
            .euro:after { content: ' €'; }
        </style>
    </head>
    <body>
        <nav class="navbar navbar-default" role="navigation">
            <div class="containerfluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">Comptes</a>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><a href="{% url 'portailuser_list' %}">Home</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Creances <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="{% url 'creance_list' %}">Liste</a></li>
                                <li><a href="{% url 'creance_create' %}">Nouvelle</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dettes <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="{% url 'dette_list' %}">Liste</a></li>
                                <li><a href="{% url 'dette_create' %}">Nouvelle</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Remboursements <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="{% url 'remboursement_list' %}">Liste</a></li>
                                <li><a href="{% url 'remboursement_create' %}">Nouvelle</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        {% bootstrap_messages %}
        <div class="container">
            {% block content %}
            {% endblock %}
        </div>
    </body>
<html>
